<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="main/layout.html :: head"></head>
<body>
	<header th:insert="main/layout.html :: header"></header>
		<div class="container full-height">
			<br>
					<div class="container" align="center">
						<div class="card" style="width: 30rem;">
							<img th:src="@{'/images/error404.png'}" class="card-img-top" alt="">
							<div class="card-body">
								<h1 align="center" class="text-info">Error 404</h1>
								<div th:text="'Ruta ' + ${error}"></div>
							</div>
						</div>
			</div>
		</div>
	<footer th:replace="main/layout.html :: footer"></footer>
</body>
</html>
