<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="main/layout.html :: head"></head>
<body>
	<header th:insert="main/layout.html :: header"></header>
		<div class="container full-height">
			<br>
					<div class="container" align="center">
						<div class="card text-white bg-danger" style="max-width: 40rem;">
							<div class="card-header">¡Alerta!</div>
							<div class="alert alert-danger">
								<h1 th:text="${titulo}"></h1>
								<div th:text="${mensaje}"></div>
							</div>
						</div>
					</div>
		</div>
	<footer th:replace="main/layout.html :: footer"></footer>
</body>
</html>

