<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="main/layout.html :: head"></head>
<body>
<header th:insert="main/layout.html :: header"></header>

	<div class="container full-height">
			<table class="table table-hover table-bordered">
				<thead class="bg-dark  text-white">
					<tr>
						<th>Full Name</th>
						<th>Username</th>
						<th>Hash Enmascarado</th>
						<th>Estado</th>
						<th>Rol</th>
						<th > Acciones </th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="item: ${users}">
						<td th:text="${item.employee.nomCompleto}"></td>
						<td th:text="${item.username}"></td>
						<td th:text="${item.password.length() > 8} ? ${item.password.substring(0,8) + '*'.repeat(item.password.length() - 8)} : ${item.password}"></td>
						<td th:text="${item.enabled}"></td>
						<td th:text="${item.role}"></td>
						<td>
							<a class="btn btn-success btn-xs" th:href="'/form/'+${item.id}" th:text="'Editar'" onclick="confirmarEdicion(event, this)"></a>
							<a class="btn btn-danger btn-xs" th:href="'/users/deleteById/'+${item.id}" th:text="'Eliminar'" onclick="confirmarDelete(event, this)"></a>
						</td>
					</tr>
				</tbody>
			</table>
			<!-- Paginador -->
			<nav th:replace="~{paginator-nav :: paginator}"></nav>
		</div>

<footer th:replace="main/layout.html :: footer"></footer>
</body>
</html>